*{
    margin: 0%;
}
body{
    border-style: solid;
    margin: 2px;
    min-height:calc(100vh - 25px);
    padding-bottom: 15px;
    border-radius: 8px;
   
}
/* =============== styling header section====================================== */
header{
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    padding: 5px;
}
#ViewScore{
    color: blue;
}
#ViewScore:hover{
    color: hotpink; 
}


/* ======================= styling quiz start page ============== */
#QuizStartContainer{
    padding-top: 10%;
    width:80%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20%;
    font-size:150% ;
}

#StartQuizBtn, #GobackQuizBtn,#ClearHScorBtn {
    background-color: blueviolet;
    border-style: none;
    color: aliceblue;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    font-size:120% ;
}
#StartQuizBtn:hover, #GobackQuizBtn:hover,#ClearHScorBtn:hover {
    background-color: rgb(142, 86, 195);
    border-style: solid;
}

/* ===================== styling quistions display page ============================= */
#questionContainer{
 padding: 8% 20% 0 30%;
 font-size: 150%;
}

#Question{
   font-weight: bold;
}
.ChoiseContainer{
    padding-left: 3px;
}
.Choise{
 background-color: rgb(77, 18, 135);
 color: aliceblue;
 margin-top: 4px;
 padding: 3px 8px 3px 3px;
 min-width:100x ;
 width: fit-content;
 min-width:100px ;
 border-radius: 5px;
 font-size: 120%;
 display: block;
 
}
.Choise:hover{
    background-color: rgb(159, 61, 146);
}
.Message {
    width: 50%;
    border-style: solid none none none;
    margin-top: 10px;

}
/* ========================Styling quiz end display page ========================= */
#QuizEndContainer{
   
    padding: 10% 0 0vh calc((100% - 336px)/2);
    font-size: 170%;
}

#QuizEndContainer h1{
    margin: 0;
}
#InitailBtn{
    background-color: blueviolet;
    border-style: none;
    color: aliceblue;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    font-size:95%;
}
#InitailBtn:hover{
    background-color: rgb(108, 59, 155);
}
.initialMessage{
    color: red;
}
.initial {
    font-size:95%;
}

/* ======================Styling high score display page  it has go back button to restart quiz===========================*/
#QuizRestartContainer{
   
    padding: 10vh 0 0vh calc((100% - 192px)/2);
    font-size: 170%;
}
#QuizRestartContainer h2{
padding-top: 8%;
}

#HighScoreDiv{
    width: 200px;
    min-height: 22px;
    margin: auto 0 auto 0;
    box-sizing: border-box;
    background-color: rgb(186, 202, 216);
    margin-bottom: 5px;
    border-radius: 2px;
    margin-top: 3px;
}
/* This class will be created by JavaScript dynamically when there is a ndeed to hide content. */
.hide{
    display: none;
}
/* ================= adjusting font for smaller screen=====================================*/

@media screen and (max-width:620px) {
 
    #QuizStartContainer, #questionContainer,  header, #QuizEndContainer,  #QuizRestartContainer{
      
        font-size:100% ;
    }
   
    .Choise{
        font-size: 120%;
    }
  
    #InitailBtn{
         font-size:95%;
    }
    .initial {
        font-size:95%;
    }
   
    #StartQuizBtn, #GobackQuizBtn,#ClearHScorBtn {
        font-size:90% ;
    }
}